<h3>Login</h3>

<form name="input" action="/auth/login" method="post">
  <label for="user">User:</label>
  <input type="text" name="user">

  <label for="password">Password:</label>
  <input type="password" name="password">
  <br />
  <div class="btn-group">
    <button type="submit" class="btn">Sign In</button>
  </div>

</form>